.white {
  background-color: white;
}

.blackColor {
  color: black;
}

.whiteColor {
  color: white;
}

.whiteBold {
  font-weight: bold;
}

.form-group {
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #f2f2f2;
  padding: 1rem;
  color: black;
  font-size: 1em;
  margin-bottom: 3%;
}

@media screen and (max-width: 600px) {
  .responsive {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.2rem;
  }

  h5 {
    max-width: 100%;
  }
}

@media screen and (max-width: 1042px) {
  .responsive {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    white-space: wrap;
  }

  .title {
    width: 50% !important;
    word-wrap: break-word !important;
    margin-bottom: 20% !important;
  }
}
