.base {
  font-family: "Source Sans Pro";
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.homeScreen {
  background-color: #06da91;
  border: 1px solid white;
  box-sizing: border-box;
  color: white;
  top: 50%;
  width: 5em;
  font-size: 1.5em;
  padding: 0.3rem 0.9rem;
}

.signupScreen {
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
  margin-top: 2%;
  padding: 0.3rem 0.9rem;
  font-size: 1em;
}
